[Desktop Entry]
Comment[en_US]=
Comment=
Exec=qdbus org.kde.krunner /App org.kde.krunner.App.display
GenericName[en_US]=
GenericName=
Icon=applications-system
MimeType=
Name[en_US]=Krunner
Name=Krunner
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
