[Desktop Entry]
Categories=Qt;KDE;Network;InstantMessaging;
Comment[en_US]=Displays your instant messenger contacts
Comment=Displays your instant messenger contacts
Exec=ktp-contactlist %u
GenericName[en_US]=Instant Messenger Contacts
GenericName=Instant Messenger Contacts
Icon=telepathy-kde
MimeType=
Name[en_US]=Telepathy
Name=Telepathy
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.ktpcontactlist
X-DBUS-StartupType=unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
X-KDE-SubstituteUID=false
X-KDE-Username=
