[Desktop Entry]
Categories=Qt;KDE;Hardware;Computer;
Comment=Manjaro system info center
Exec=kfmclient openProfile webbrowsing sysinfo:/
GenericName=Computer system info
GenericName[af]=System info
GenericName[ar]=System info
GenericName[as]=System info
GenericName[ast]=System info
GenericName[be@latin]=System info
GenericName[be]=System info
GenericName[bg]=System info
GenericName[bn]=System info
GenericName[bn_IN]=System info
GenericName[br]=System info
GenericName[bs]=System info
GenericName[ca@valencia]=System info
GenericName[ca]=System info
GenericName[cs]=System info
GenericName[csb]=System info
GenericName[cy]=System info
GenericName[da]=System info
GenericName[de]=System info
GenericName[el]=System info
GenericName[en_GB]=System info
GenericName[eo]=System info
GenericName[es]=System info
GenericName[et]=System info
GenericName[eu]=System info
GenericName[fa]=System info‌
GenericName[fi]=System info
GenericName[fr]=System info
GenericName[fy]=System info
GenericName[ga]=System info
GenericName[gl]=System info
GenericName[gu]=System info
GenericName[he]=System info
GenericName[hi]=System info
GenericName[hne]=System info
GenericName[hr]=System info
GenericName[hsb]=System info
GenericName[hu]=System info
GenericName[ia]=System info
GenericName[id]=System info
GenericName[is]=System info
GenericName[it]=System info
GenericName[ja]=System info
GenericName[ka]=System info
GenericName[kk]=System info
GenericName[km]=System info
GenericName[kn]=System info
GenericName[ko]=System info
GenericName[ku]=System info
GenericName[lt]=System info
GenericName[lv]=System info
GenericName[mai]=System info
GenericName[mk]=System info
GenericName[ml]=System info
GenericName[mr]=System info
GenericName[ms]=System info
GenericName[nb]=System info
GenericName[nds]=System info
GenericName[ne]=System info
GenericName[nl]=System info
GenericName[nn]=System info
GenericName[oc]=System info
GenericName[or]=System info
GenericName[pa]=System info
GenericName[pl]=System info
GenericName[pt]=System info
GenericName[pt_BR]=System info
GenericName[ro]=System info
GenericName[ru]=System info
GenericName[se]=System info
GenericName[si]=System info
GenericName[sk]=System info
GenericName[sl]=System info
GenericName[sr@ijekavian]=System info
GenericName[sr@ijekavianlatin]=System info
GenericName[sr@latin]=System info
GenericName[sr]=System info
GenericName[sv]=System info
GenericName[ta]=System info
GenericName[te]=System info
GenericName[tg]=System info
GenericName[th]=System info
GenericName[tr]=System info
GenericName[ug]=System info
GenericName[uk]=System info
GenericName[uz@cyrillic]=System info
GenericName[uz]=System info
GenericName[vi]=System info
GenericName[wa]=System info
GenericName[x-test]=xxSystem infoxx
GenericName[xh]=System info
GenericName[zh_CN]=System info
GenericName[zh_TW]=System info
Icon=computer
MimeType=
Name=Computer
Name[af]=Computer
Name[ar]=Computer
Name[as]=Computer
Name[ast]=Computer
Name[be@latin]=Computer
Name[be]=Computer
Name[bg]=Computer
Name[bn]=Computer
Name[bn_IN]=Computer
Name[br]=Computer
Name[bs]=Computer
Name[ca@valencia]=Computer
Name[ca]=Computer
Name[cs]=Computer
Name[csb]=Computer
Name[cy]=Computer
Name[da]=Computer
Name[de]=Computer
Name[el]=Computer
Name[en_GB]=Computer
Name[eo]=Computer
Name[es]=Computer
Name[et]=Computer
Name[eu]=Computer
Name[fi]=Computer
Name[fr]=Computer
Name[fy]=Computer
Name[ga]=Computer
Name[gl]=Computer
Name[gu]=Computer
Name[he]=Computer
Name[hi]=Computer
Name[hne]=Computer
Name[hr]=Computer
Name[hsb]=Computer
Name[hu]=Computer
Name[ia]=Computer
Name[id]=Computer
Name[is]=Computer
Name[it]=Computer
Name[ja]=Computer
Name[ka]=Computer
Name[kk]=Computer
Name[km]=Computer
Name[kn]=Computer
Name[ko]=Computer
Name[ku]=Computer
Name[lt]=Computer
Name[lv]=Computer
Name[mai]=Computer
Name[mk]=Computer
Name[ml]=Computer
Name[mr]=Computer
Name[ms]=Computer
Name[nb]=Computer
Name[nds]=Computer
Name[ne]=Computer
Name[nl]=Computer
Name[nn]=Computer
Name[oc]=Computer
Name[or]=Computer
Name[pa]=Computer
Name[pl]=Computer
Name[pt]=Computer
Name[pt_BR]=Computer
Name[ro]=Computer
Name[ru]=Computer
Name[se]=Computer
Name[si]=Computer
Name[sk]=Computer
Name[sl]=Computer
Name[sr@ijekavian]=Computer
Name[sr@ijekavianlatin]=Computer
Name[sr@latin]=Computer
Name[sr]=Computer
Name[sv]=Computer
Name[ta]=Computer
Name[te]=Computer
Name[tg]=Computer
Name[th]=Computer
Name[tr]=Bilgisayarım
Name[ug]=Computer
Name[uk]=Computer
Name[uz@cyrillic]=Computer
Name[uz]=Computer
Name[vi]=Computer
Name[wa]=Computer
Name[x-test]=xxxx
Name[xh]=Computer
Name[zh_CN]=Computer
Name[zh_TW]=Computer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
URL=sysinfo:/
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=sysinfo:/
X-KDE-SubstituteUID=false
X-KDE-Username=
