[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kcmshell5 msm_keyboard

X-KDE-Library=msm_keyboard
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=10
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_keyboard
X-KDE-Keywords=keyboard
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Keyboard
Name[x-test]=xxKeyboardxx
Comment=Keyboard Settings
Comment[x-test]=xxKeyboard Settingssxx
