[Desktop Entry]
Icon=image-svg+xml-compressed
Name=homerun.svgz
Type=Link
URL[$e]=file:///usr/share/pixmaps/homerun.svgz
X-KDE-LastOpenedWith=plasma-desktop
