[Desktop Entry]
Icon=image-png
Name=netrunner.png
Type=Link
URL[$e]=sftp://leszek@192.168.178.40/home/leszek/Downloads/work/netrunner/13.12/git/netrunner-artwork/usr/share/pixmaps/splash/netrunner.png
X-KDE-LastOpenedWith=gwenview
